body {
	background-image: url(../images/bg.jpg);
	font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 14px;
    font-weight: 400;
}
ul {
    display: block;
    /*margin-top: 0;*/
    margin-left: 45px;
    padding: 0;
    list-style: none;
}
ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}
ul.menu > li {
 	float: left;
    position: relative;
}
ul.menu > li > a {
    display: block;
    padding: 10px;
    color: white;
    background-color: #81308D;
    text-decoration: none;
}
ul.menu > li > a:hover {
    background-color: black;
}
ul.submenu {
    display: none;
    position: absolute;
    width: 160px;
    top: 34px;
    left: -30px;
    background-color: white;
    border: 1px solid #81308D;
}
ul.submenu > li {
    display: block;
}
ul.submenu > li > a {
    display: block;
    padding: 10px;
    color: white;
    background-color: #81308D;
    text-decoration: none;
}
ul.submenu > li > a:hover {
    /*text-decoration: underline;*/
    background-color: black;
}
ul.menu > li:hover > ul.submenu {
    display: block;
}
.error {
	color: red;
	margin-left: 120px;
}
.errorpass {
	color:red;
	text-align:center;
	margin-bottom: 20px;
}
.ok {
	color: green;
	text-align:center;
}
.toomenu {
	display: none;
}
.topmenu:hover {
	display: block;
}
.aReg {
	font-weight: bold;
	padding: 15px;
}
.aHelp {
	padding: 15px;
}
.buttonV {
	width: 250px;
	height: 40px;
	border-radius: 4px 4px 4px 4px;
	clear: both;
	margin: 7px;
	background-color: #9397cd;
    border-color: #9397cd;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}
.buttonV:hover {
		background-color: #8286c5;
		border-color: transparent;
		transition: all 0.3s ease-out 0s;
}
.buttonV:active {
		background-color: #66669a;
		border-color: #66669a;
}
.inputV {
	width: 250px;
	height: 40px;
	border-radius: 4px 4px 4px 4px;
	clear: both;
	margin: 7px;
	padding-left: 20px;
	background: rgba(255, 255, 255, 0.1) none repeat scroll 0 0;
    border-color: #dfdfdf;
}
.inputT {
	/*width: 250px;
	height: 40px;*/
	border-radius: 4px 4px 4px 4px;
	clear: both;
	margin: 7px;
	padding-left: 20px;
	background: rgba(255, 255, 255, 0.1) none repeat scroll 0 0;
    border-color: #dfdfdf;
}
.inputVt {
	width: 250px;
	height: 40px;
	clear: both;
	margin: 7px;
	padding-left: 20px;
}
.copy {
	position: absolute;
	bottom: 30px;
	left: 36%;
    color: #fff;

}
.formV {
	background: rgba(255, 255, 255, 0.1) none repeat scroll 0 0;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 2rem;
    margin-top: 8rem;
    min-height: 350px;
    padding: 30px 45px 0;
    max-width: 100%;
    width: 355px;
    position: absolute;
    left: 35%;
}
.nameForm {
	text-transform: uppercase;
	color: #fff;
	font-weight: bold;
	text-align: center;
	margin-bottom: 40px;
}
.textForm {
	text-transform: uppercase;
	color: #fff;
	font-weight: bold;
	text-align: center;
}
.helpButton {
	visibility: hidden;
}
.helpVis {
	background: rgba(255, 255, 255, 0.1) none repeat scroll 0 0;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 4px;
    box-sizing: border-box;
    max-width: 100%;
    width: 250px;
    position: absolute;
    left:15%;
    margin-top: 14rem;
}
.closeH {
	cursor: pointer;
	padding: 10px;
	position: absolute;
	right: 0px;
}
.closeH:hover {
	background-color: #8286c5;
	border-color: transparent;
/*	transition: all 0.3s ease-out 0s;*/
}
.buttonBlok {
	padding: 10px;
	margin-top: 40px;
}
.buttonBlok > div {
	margin-bottom: 5px;
}
/*.buttonBlok > div > button {
	width: 230px;
	height: 40px;
	border-radius: 4px 4px 4px 4px;
	clear: both;
	background-color: #9397cd;
    border-color: #9397cd;
    color: #fff;
    font-size: 15px;
}*/
.buttonBlok > div > a > button {
	width: 230px;
	height: 40px;
	border-radius: 4px 4px 4px 4px;
	clear: both;
	background-color: #9397cd;
    border-color: #9397cd;
    color: #fff;
    /*text-transform: uppercase;*/
    font-size: 15px;
/*    font-weight: bold;*/
}
/*.buttonBlok > div > button:hover {
		background-color: #8286c5;
		border-color: transparent;
		transition: all 0.3s ease-out 0s;
}
.buttonBlok > div > button:active {
		background-color: #66669a;
		border-color: #66669a;
}*/
.buttonBlok > div > a > button:hover {
		background-color: #8286c5;
		border-color: transparent;
		transition: all 0.3s ease-out 0s;
}
.buttonBlok > div > a > button:active {
		background-color: #66669a;
		border-color: #66669a;
}
.formRec {
	margin-top: 80px;
	margin-left: 80px;
}
.textRec {
	margin: 25px;
	font-size: 16px;
}
.inputRec {
	margin: 25px;
}